{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signupuser/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Sign In</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Sign In</button>
            <p>
                <p>Don't have an account?</p>
                <a href="{% url 'signup' %}">Sign Up Here</a>
            </p>
        </form>
    </div>
</body>
</html>
